<div class="mainContent" id="homeMainContId">

    <h1>
        Companies
    </h1>

    <div>
        <span class="companyBtns1"><button mat-raised-button color="primary" (click)="addCompanyAction()">Add
                Company</button></span>
        <span class="companyBtns"><button mat-raised-button color="primary" (click)="getCompanyAction()">Get Company
                Info</button></span>
        <span class="companyBtns"><button mat-raised-button color="primary" (click)="getAllCompaniesAction()">Get All
                Companies</button></span>
        <span class="companyBtns"><button mat-raised-button color="primary" (click)="addStocksAction()">Add
                Stocks</button></span>
    </div>

    <div *ngIf="addCompanyShowFlag">
        Add Company
    </div>

    <div *ngIf="getCompanyShowFlag">
        Get Company
    </div>

    <div *ngIf="getAllCompaniesShowFlag">
        <h2 class="companyListHeading">Companies List</h2>

        <mat-list *ngFor="let company of allCompaniesData ; let even = even; let odd = odd"
            [ngClass]="{ odd: odd, even: even }">
            <mat-list-item>companyCode: {{company.companyCode}}</mat-list-item>
            <mat-list-item>companyName: {{company.companyName}}</mat-list-item>
            <mat-list-item>companyCEO: {{company.companyCEO}}</mat-list-item>
            <mat-list-item>companyTurnover: {{company.companyTurnover}}</mat-list-item>
            <mat-list-item>companyWebsite: {{company.companyWebsite}}</mat-list-item>
            <mat-list-item>stockExchange: {{company.stockExchange}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>


    </div>

    <div *ngIf="addStocksShowFlag">
        Add Stocks
    </div>


</div>