<div class="mainContent" id="homeMainContId">

    <h1>
        Companies
    </h1>

    <div>
        <span class="companyBtns1"><button mat-raised-button color="primary" (click)="addCompanyAction()">Add
                Company</button></span>
        <span class="companyBtns"><button mat-raised-button color="primary" (click)="getCompanyAction()">Get Company
                Info</button></span>
        <span class="companyBtns"><button mat-raised-button color="primary" (click)="getAllCompaniesAction()">Get All
                Companies</button></span>
        <span class="companyBtns"><button mat-raised-button color="primary" (click)="addStocksAction()">Add
                Stocks</button></span>
    </div>

    <div *ngIf="addCompanyShowFlag">
        <h2 class="companyListHeading">Add Company</h2>

        <form class="example-form">
            <div>
                <mat-form-field appearance="fill" class="userNameDiv">
                    <mat-label>Company Code</mat-label>
                    <input matInput placeholder="Ex. C001" [(ngModel)]="companyCode" id="companyCode"
                        name="companyCode">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill" class="userNameDiv">
                    <mat-label>Company Name</mat-label>
                    <input matInput [(ngModel)]="companyName" id="companyName" name="companyName">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill" class="userNameDiv">
                    <mat-label>Company CEO</mat-label>
                    <input matInput [(ngModel)]="companyCEO" id="companyCEO" name="companyCEO">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill" class="userNameDiv">
                    <mat-label>Company Turnover</mat-label>
                    <input matInput [(ngModel)]="companyTurnover" id="companyTurnover" name="companyTurnover" type="number">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill" class="userNameDiv">
                    <mat-label>Company Website</mat-label>
                    <input matInput [(ngModel)]="companyWebsite" id="companyWebsite" name="companyWebsite">
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="fill" class="userNameDiv">
                    <mat-label>Stock Exchange</mat-label>
                    <input matInput [(ngModel)]="stockExchange" id="stockExchange" name="stockExchange">
                </mat-form-field>
            </div>

            <div class="example-button-row">
                <button mat-raised-button color="primary" (click)="saveCompany()">Submit</button>
            </div>

        </form>
    </div>

    <div *ngIf="getCompanyShowFlag">
        Get Company
    </div>

    <div *ngIf="getAllCompaniesShowFlag">
        <h2 class="companyListHeading">Companies List</h2>

        <mat-list *ngFor="let company of allCompaniesData ; let even = even; let odd = odd"
            [ngClass]="{ odd: odd, even: even }">
            <mat-list-item>companyCode: {{company.companyCode}}</mat-list-item>
            <mat-list-item>companyName: {{company.companyName}}</mat-list-item>
            <mat-list-item>companyCEO: {{company.companyCEO}}</mat-list-item>
            <mat-list-item>companyTurnover: {{company.companyTurnover}}</mat-list-item>
            <mat-list-item>companyWebsite: {{company.companyWebsite}}</mat-list-item>
            <mat-list-item>stockExchange: {{company.stockExchange}}</mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>

        <div *ngIf="allCompaniesData">
            No Companies Data Available!
        </div>

    </div>

    <div *ngIf="addStocksShowFlag">
        Add Stocks
    </div>


</div>