.companyBtns {
    padding: 0 10px 0 10px;
}

.companyBtns1 {
    padding: 0 10px 0 0;
}

.odd {
    background-color: lightgray;
}

.companyListHeading {
    padding: 20px 0 10px 0;
}

.mat-list-item {
    height: 25px !important;
}

.searchCompanyBtn {
    margin: 0 0 0 20px;
}

.searchCompCodeField {
    margin: 0 30px 0 0;
}

.stockSearchData {
    margin: 30px 0 0 0;
}