/* You can add global styles to this file, and also import other style files */
@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

table {
    width: 100%;
}

.mainContent {
    padding: 20px;
    min-height: 585px;
}

.custom-error-class {
    padding: 20px 0 0 0;
    color: red;
}

.custom-error-snackbar-style {
    color: #D8000C;
    background-color: #FFBABA;
    margin: 70px 0 0 0 !important;
}

.custom-success-snackbar-style {
    color: #4F8A10;
    background-color: #DFF2BF;
    margin: 70px 0 0 0 !important;
}

.custom-mat-icon:hover {
    color: #D8000C;
    cursor: pointer;
}

